.exchangeWidget {
  color: #EEF4F2;
  width: 600px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.topContainer {
  background-color: #233656;
}

.bottomContainer {
  background-color: #415B76;
}

.fieldContainer {
  position: relative;
  padding: 40px 60px;
}

.arrowLeft {
  position: absolute;
  margin: auto;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent; 
  border-right: 14px solid #EEF4F2; 
}

.arrowRight {
  position: absolute;
  margin: auto;
  right: 5px;
  top: 0;
  bottom: 0;
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent; 
  border-left: 14px solid #EEF4F2; 
}

.exchangeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}