.toolbarButton {
  color: #EEF4F2;
  font-size: 16px;
  border: none;
  padding: 0;
  background: none;
  outline: none;
  transition: color .15s ease-in-out;
  cursor: pointer;
}

.toolbarButton:hover {
  color: #007bff;
}

.toolbarButton:active {
  color: #4ea3ff;
}

.toolbarButton:disabled {
  color: #818e9c;
  cursor: default;
}