.currencyField {
  display: flex;
  justify-content: space-between;
}

.currencyCode {
  font-size: 32px;
}

.currencyInput {
  text-align: right;
  color: #fff;
  font-size: 32px;
  outline: none;
  border: none;
  background-color: transparent;
}