.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  -webkit-box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.4); 
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.4);
}